<!DOCTYPE html>
<html>
<head>
  <title><%= item.name %> Details</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="detail-container">
  <h1><%= item.name %> Details</h1>
  <p>Key: <%= key %></p>
  <p>Category: <%= item.category %></p>
  <p>Price: <%= item.price %></p>
  <p>Type: <%= item.type %></p>

  <!-- Link back to home page -->
  <a href="/">Home</a>
  </div>
</body>
</html>