<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= game.title %> Details</title>
</head>
<body>
    <h1><%= game.title %> Details </h1>
    <div class="detail-container">
    <p><a href="/">Home</a></p>
    <ul>
      <% if (game) {%>
        <li>Title: <%= game.title %></li>
        <li>Release Year: <%= game.releaseYear %></li>
        <li>Price: <%= game.price %></li>
        <%} else {%>
        <li>Error: <%= error %></li>
        <%}%>
    </ul>
    
    <form action="/update" method="post">
      <input type="hidden" name="id" value="<%= game.id %>" />
      <input type="text" name="title" placeholder="Title" value="<%= game.title %>" />
      <input type="text" name="releaseYear" placeholder="Release Year" value="<%= game.releaseYear %>" />
      <input type="text" name="price" placeholder="Price" value="<%= game.price %>" />
      <button type="submit">Save</button>
      <button type="button" onclick="clearForm()">Clear</button>
      <button name="delete" onClick={props.deleteItem}>Delete</button>
    </form>
    </div>
</body>
<script>
</script>

</html>
